@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0% auto;
  padding: 0 1rem 0 1rem;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

.container-fluid {
  max-width: 100%;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.2rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.9rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding: 0 1rem 0 1rem;
}

.ptb-4 {
  padding: 1rem 0 1rem 0;
}

.plr-5 {
  padding: 0 1.5rem 0 1.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5em;
}

.p-5 {
  padding: 1.5rem;
}

.h-100 {
  height: 100vh;
}

/* debug /
*{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; 
}
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding-bottom: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

h1 {
  font-size: 33px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

.p-big {
  line-height: 36px;
  font-weight: 200;
  font-size: 20px;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #343a40;
}

.text-center {
  text-align: center;
}

.bolder {
  font-weight: 600;
}

.text-right {
  text-align: right;
}

.underdotted {
  width: 0px;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.underdotted:hover {
  -webkit-transition-duration: background-color 0.25s ease-out;
          transition-duration: background-color 0.25s ease-out;
  background-color: #F5F1E6;
}

.subheading {
  color: #868e96;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -65px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Navabar */
.header {
  padding: 16px 0 16px 0;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 576px) {
  .header .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (min-width: 768px) {
  .header .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav-wrapper {
  position: absolute;
  right: 0;
  margin-right: 8px;
  top: 28px;
}

@media only screen and (min-width: 768px) {
  .nav-wrapper {
    display: none;
  }
}

.navbar li {
  display: none;
}

@media only screen and (min-width: 576px) {
  .navbar li {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .navbar li {
    display: inline-block;
  }
}

.wrap {
  margin-top: 10px;
}

.wrap li {
  display: list-item;
  padding: 8px;
}

@media only screen and (min-width: 576px) {
  .wrap li {
    display: list-item;
  }
}

@media only screen and (min-width: 768px) {
  .wrap li {
    display: inline-block;
  }
}

#navbar {
  -webkit-box-shadow: 1px 3px 6px 0px #4d4d4d;
  box-shadow: 1px 3px 6px 0px #4d4d4d;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar a {
  padding: 0 16px 0 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.navbar .nav-item-active {
  font-weight: 600;
  color: #063F3E;
}

/* Profile picture */
.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px;
}

@media only screen and (min-width: 768px) {
  .profil {
    display: none;
  }
}

.name {
  padding-left: 0.7em;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.img-profil-sm {
  height: auto;
  width: 3.5rem;
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid;
  border-color: #F5F1E6;
}

.profil-home {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

@media only screen and (min-width: 576px) {
  .profil-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
}

.img-profil-md {
  height: auto;
  width: 10rem;
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid;
  border-color: #F5F1E6;
}

.in-short {
  font-family: 'Merriweather';
}

.in-short p {
  font-weight: 100;
}

/** Skills section */
#skills {
  background-color: #f8f9fa;
  position: relative;
}

.dev-icons {
  background-color: #fff;
  color: #495057;
  border-radius: 100%;
  font-size: 5rem;
  line-height: 3.5rem;
}

.list-inline {
  width: 100%;
  text-align: center;
}

.list-inline li {
  display: inline-block;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

.fa-html5:hover {
  color: #BD5D38;
}

.fa-css3-alt:hover {
  color: #007bff;
}

.fa-js-square:hover {
  color: #ffc1079f;
}

.fa-php:hover {
  color: #8892BF;
}

.fa-symfony:hover {
  color: #000;
}

.fa-react:hover {
  color: #5ED4F4;
}

.date {
  color: #063F3E;
  font-weight: 600;
}

@media only screen and (min-width: 576px) {
  .date {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .date {
    text-align: right;
  }
}

/** Contact section*/
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 0.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 2px;
  background-color: #063F3E;
}

footer .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h1,
footer h3,
footer p {
  color: #fff;
}

.notbold {
  font-weight: normal;
}
